<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\Anaconda3\python.exe|C:\ProgramData\Anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
        <caching enabled="true" enableKernelCache="true" />
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\Devel\wwwroot\DjangoHack2017" />
            <add key="DJANGO_SETTINGS_MODULE" value="DjangoHack2017.settings" />
        </appSettings>
		<system.web>
			<authentication mode="Windows" />
			<authorization>
				<allow users="*" />
			</authorization>
      
		</system.web>
    </configuration>
