{% extends 'include/basic.html' %} 
{% block 'body' %}

<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <center><img src="https://docs.moodle.org/27/en/images_en/7/7c/F1.png" class="img-responsive" alt="user" id="profilePic"></center><br>
	  <ul class="nav nav-sidebar">
		<li class="active"><a href="#feature1">Feature1<span class="sr-only">(current)</span></a></li>
		<li><a href="#feature2">Feature 2</a></li>
		<li><a href="#Feature3">Feature 3</a></li>
	  </ul>		  
	</div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

		<h1>Anomaly Stuff</h1>
		<table>
		<tr>
			<td>
				Hello World!?!?
			</td>
		</tr>
		</table>
	</div>
	
  </div>
</div>
	
  
{% endblock %}